<main>
    <section>
        <div class="dishes">
            <h1>Desserts</h1>
            <div class="dish-box">
                @for (dish of dummyDishes; track $index) {
                    <app-dish [dish]="dish" />
                }
            </div>
        </div>
        <div class="cart">
            <app-cart>
                @for (dish of dummyDishes; track $index) {
                    <app-cart-item [cartItem]="dish" [viewInModal]="false" />
                }
            </app-cart>
        </div>
    </section>

    @if (modalVisibility) {
        <app-order-modal />
    }
</main>